body {

margin:0;

font-family:
"Microsoft YaHei",
sans-serif;

overflow:hidden;

}



header {

height:60px;

background:#2c7be5;

color:white;

display:flex;

align-items:center;

justify-content:center;

position:relative;

}



header h1 {

font-size:22px;

}



#toggle-sidebar {


position:absolute;

left:15px;

top:15px;


font-size:22px;

border:none;

background:white;

cursor:pointer;

}




#map {

height:calc(100vh - 60px);

width:100%;

}




#sidebar {


position:absolute;

top:60px;

left:0;


width:260px;


height:calc(100vh - 60px);


background:white;


z-index:999;


padding:15px;


box-shadow:2px 0 8px rgba(0,0,0,0.2);


overflow-y:auto;


transition:0.3s;


}



#sidebar.hidden {


left:-290px;


}



#sidebar h2 {

margin-top:0;

}



#sidebar h3 {

font-size:16px;

}




.layer-item {


margin:8px 0;


cursor:pointer;


}



.color-dot {


display:inline-block;


width:12px;


height:12px;


border-radius:50%;


margin-right:6px;


}



.emoji-icon {


font-size:18px;


margin-right:6px;


}